* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
